.films li {
  background-color: #666666;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1%
}

.card-content {
  padding: 2%;
}

.card-title {
  background-color: #6BB386;
  color: #F7EEE9;
  font-size: 200%;
  border-radius: 1%
}
