/* grid system */
.row {
  display: flex;
  flex-basis: row wrap;
  flex: 0 1 auto;
}

ul.films {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  padding-inline-start: 0;
}

.films img { 
  width: 100%; 
  max-width: 300px;
}

.full-width {
  flex: 0 0 100%;
  margin: 0;
}

/* Mobile first */
[class*="col-"] {
  flex: 0 0 100%;
}

.films li {
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 2%;
  flex: 0 0 100%;
  background-color: #666666;
}

/* Tablet size */
@media (min-width: 550px) {
  .films li {
    margin-right: 0%;
    flex: 0 0 44%;
  }
}
/* Desktop size */
@media (min-width: 850px) {

  .films li {
    margin-right: 0%;
    flex: 0 0 20%;
  }
}