/* grid system */
.row {
  display: flex;
  flex-basis: row wrap;
  flex: 0 1 auto;
}

ul.films {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.films li {
  flex: 0 0 100%;
}
.films img { 
  width: 100%; 
  max-width: 300px;
}
.full-width {
  flex: 0 0 100%;
  margin: 0;
}

/* Mobile first */
[class*="col-"] {
  flex: 0 0 92%;
  margin: 0 4%;
}

/* Tablet size */
@media (min-width: 550px) {
  .films li {
    flex: 0 0 50%;
  }
}
/* Desktop size */
@media (min-width: 850px) {
  .col-1{
    flex: 0 0 20%;
  }
  .col-4{
    flex: 0 0 92%;
  }
  .films li {
    flex: 0 0 33%;
  }
}